@import '../../common/app.scss';
.fooPage{
	height: 100%;
	.content {
		flex-direction: column;
		display: flex;
		justify-content: center;
		text-align: center;
	}
	h1 {
		font-size: 28px;
		height: 80px;
		line-height: 80px;
		text-align: center;
		border-bottom: 1px solid #eee;/*no*/
		margin-bottom: 10px;
	}
}